* {
  box-sizing: border-box;
}

.left, .right {
  float: left;
  padding: 10px;
  width: 20%;
}

.middle {
  float: left;
  padding: 10px;
  width: 60%;
  text-align: center;
  font-size:3vw;
}
  

.header {
  background-color: rgb(191, 186, 186); 
  font-size:6vw;
  color: rgb(8, 8, 8);
}

.button {
  font-size:3vw;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}